# Moodle Educational Data Mining

#### ETL Processes

> I would be using this notebook to develop the ETL process for each of the database tables before completing the etl.py file to load the whole datasets.

import libraries

In [1]:
%autosave 300

Autosaving every 300 seconds

In [2]:
# !pip install psycopg2-binary

In [3]:
import os
import glob
import psycopg2
import pandas as pd 
import sys
import numpy as np
from dotenv import load_dotenv

In [4]:
load_dotenv('../.env')

True

create a database connection

In [5]:
def get_connection(user:str, host:str,database:str, port:str=None, password:str= None) -> psycopg2.extensions.cursor:
    try:
        
            if password is None:
        
                password = os.getenv('PASSWORD')
            
            connection = psycopg2.connect(user = user,
                                          password = password,
                                          host = host,
                                          port = port,
                                          database = database)
            # perform autocommit on queries
            connection.set_session(autocommit=True)
            cursor = connection.cursor()
            # Print PostgreSQL Connection properties
            print ( connection.get_dsn_parameters(),"\n")

            # Print PostgreSQL version
            cursor.execute("SELECT version();")
            record = cursor.fetchone()
            print("You are connected to - ", record,"\n") 
    except (Exception, psycopg2.Error) as error :
            print ("Error while connecting to PostgreSQL", error)
            sys.exit(1)
    return connection

In [6]:
connection = get_connection(user='postgres', host='127.0.0.1',
              database='moodle')

{'user': 'postgres', 'dbname': 'moodle', 'host': '127.0.0.1', 'port': '5432', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  ('PostgreSQL 12.4 (Ubuntu 12.4-1.pgdg18.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0, 64-bit',)

> define function to execute database queries

In [77]:
def execute_query(query, con, fetch_type:int=1):
    
    """
    fetch_type:
        1 -> fetchone
        2 -> fetchmany
        3 -> fetchall
    """
    
    try:
        cur = con.cursor() 
        cur.execute(query)
        
        if fetch_type == 1:
            result = []
            row = cur.fetchone()
            while row:
                result.extend(row)
                print(row)
                #row = cur.fetchone()
                result.append(row)
                
        if fetch_type == 2:
            result == cur.fetchmany() 
            
        if fetch_type == 3:
            result = cur.fetchall()
            for row in result:
                print(row)
        else:
            result = cur.execute(query)
            print(result)
            
            
    except psycopg2.DatabaseError as e:
        print(f'Error {e}')
        sys.exit(1)
    
    return result

In [78]:
# fetch_tables = ("select * from mdl_course;")
# execute_query(query=fetch_tables, con=connection, fetch_type=3)[0]

#### Tables to be queried in the mooodle database

> `important tables are asteriked`

● mdl_logstore_standard_log -*

● mdl_context *

● mdl_user *

● mdl_course *

● mdl_modules *

● mdl_course_modules *

● mdl_course_modules_completion *

● mdl_grade_items

● mdl_grade_grades *

● mdl_grade_categories

● mdl_grade_items_history

● mdl_grade_grades_history

● mdl_grade_categories_history

● mdl_forum

● mdl_forum_discussions

● mdl_forum_posts

> create a list to store tables names

In [9]:
moodle_tables = ['mdl_logstore_standard_log',
     
'mdl_context',
     
'mdl_user',
     
'mdl_course ',
     
'mdl_modules',
     
'mdl_course_modules ',
     
'mdl_course_modules_completion',
     
'mdl_grade_items',
     
'mdl_grade_grades',

'mdl_grade_categories',

'mdl_grade_items_history',

'mdl_grade_grades_history',

'mdl_grade_categories_history',
     
'mdl_forum',
     
'mdl_forum_discussions',
     
'mdl_forum_posts'
    ]

> write function to parse sql tables to pandas

In [10]:
def get_tables(table_names:list, con) -> dict:
    
    tables = dict()
    for table in table_names:
        
#         table_key = table.split('_')[-1]
        
        print("getting table for "+table)
        
        tables[table] = pd.read_sql_query(sql =f'SELECT * FROM {table}', con=con)
        
    return tables

In [11]:
tables = get_tables(table_names=moodle_tables, con=connection)

getting table for mdl_logstore_standard_log
getting table for mdl_context
getting table for mdl_user
getting table for mdl_course
getting table for mdl_modules
getting table for mdl_course_modules
getting table for mdl_course_modules_completion
getting table for mdl_grade_items
getting table for mdl_grade_grades
getting table for mdl_grade_categories
getting table for mdl_grade_items_history
getting table for mdl_grade_grades_history
getting table for mdl_grade_categories_history
getting table for mdl_forum
getting table for mdl_forum_discussions
getting table for mdl_forum_posts

In [12]:
type(tables)

dict

In [13]:
tables.keys()

dict_keys(['mdl_logstore_standard_log', 'mdl_context', 'mdl_user', 'mdl_course ', 'mdl_modules', 'mdl_course_modules ', 'mdl_course_modules_completion', 'mdl_grade_items', 'mdl_grade_grades', 'mdl_grade_categories', 'mdl_grade_items_history', 'mdl_grade_grades_history', 'mdl_grade_categories_history', 'mdl_forum', 'mdl_forum_discussions', 'mdl_forum_posts'])

> write function to save table objects to csv

In [14]:
saved_tables_path = '../data/retrieved_tables'

In [15]:
def save_tables(path:str, tables:dict, index:bool=False, date_format:str='%Y%m%d'):
    
    for table_name, table in tables.items(): 
        
        file_name= f"/{table_name}.csv"
        print(f"Saving sql table {table_name} to -> "+path+file_name)
        
        table.to_csv(path_or_buf=path+file_name, index=index, date_format=date_format)

In [16]:
save_tables(path=saved_tables_path, tables=tables)

Saving sql table mdl_logstore_standard_log to -> ../data/retrieved_tables/mdl_logstore_standard_log.csv
Saving sql table mdl_context to -> ../data/retrieved_tables/mdl_context.csv
Saving sql table mdl_user to -> ../data/retrieved_tables/mdl_user.csv
Saving sql table mdl_course  to -> ../data/retrieved_tables/mdl_course .csv
Saving sql table mdl_modules to -> ../data/retrieved_tables/mdl_modules.csv
Saving sql table mdl_course_modules  to -> ../data/retrieved_tables/mdl_course_modules .csv
Saving sql table mdl_course_modules_completion to -> ../data/retrieved_tables/mdl_course_modules_completion.csv
Saving sql table mdl_grade_items to -> ../data/retrieved_tables/mdl_grade_items.csv
Saving sql table mdl_grade_grades to -> ../data/retrieved_tables/mdl_grade_grades.csv
Saving sql table mdl_grade_categories to -> ../data/retrieved_tables/mdl_grade_categories.csv
Saving sql table mdl_grade_items_history to -> ../data/retrieved_tables/mdl_grade_items_history.csv
Saving sql table mdl_grade_grades_history to -> ../data/retrieved_tables/mdl_grade_grades_history.csv
Saving sql table mdl_grade_categories_history to -> ../data/retrieved_tables/mdl_grade_categories_history.csv
Saving sql table mdl_forum to -> ../data/retrieved_tables/mdl_forum.csv
Saving sql table mdl_forum_discussions to -> ../data/retrieved_tables/mdl_forum_discussions.csv
Saving sql table mdl_forum_posts to -> ../data/retrieved_tables/mdl_forum_posts.csv

In [17]:
cur = connection.cursor()

### SQL Analytics

> Connect to Jupyter SQL Instance

In [18]:
%load_ext sql

In [19]:
%reload_ext sql

In [20]:
password = os.getenv('PASSWORD')
connection_string = "postgresql://postgres:{password}@localhost/moodle".format(password=password)

In [21]:
%sql $connection_string

'Connected: postgres@moodle'

#### Task One

#### Download the database and write an SQL script to count:

○ the number of tables

○ the number of records in each of the tables given in the MIT section

○ Number of quiz submissions by hour of day

○ Monthly usage time of learners who have confirmed and are not deleted

○ Count of log events per user for the following verbs: ['loggedin', 'viewed',
'started', ,'submitted', 'uploaded', 'updated', 'searched', 'resumed', 'answered',
'attempted', 'abandoned']

#### Write a python class to pull:

○ Overall grade of learners for

○ Number of forum posts

> number of tables

In [22]:
%sql select count(*) as tables from information_schema.tables where table_schema = 'public';

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(448,)]

> the number of records in each of the tables given in the MIT section

In [129]:
for table in moodle_tables:
    cur.execute(f"SELECT COUNT(*) FROM {table}")
    result = cur.fetchone()
    print(f'\nTable {table} -> \n \n{result}')

Table mdl_logstore_standard_log ->

(417554,)

Table mdl_context ->

(4359,)

Table mdl_user ->

(1052,)

Table mdl_course  ->

(15,)

Table mdl_modules ->

(26,)

Table mdl_course_modules  ->

(290,)

Table mdl_course_modules_completion ->

(4483,)

Table mdl_grade_items ->

(113,)

Table mdl_grade_grades ->

(3643,)

Table mdl_grade_categories ->

(16,)

Table mdl_grade_items_history ->

(486,)

Table mdl_grade_grades_history ->

(7108,)

Table mdl_grade_categories_history ->

(46,)

Table mdl_forum ->

(34,)

Table mdl_forum_discussions ->

(23,)

Table mdl_forum_posts ->

(131,)

>  Number of quiz submissions by hour of day

In [130]:
%sql select column_name,data_type from information_schema.columns WHERE table_name = 'mdl_logstore_standard_log'

 * postgresql://postgres:***@localhost/moodle
21 rows affected.

[('id', 'bigint'),
 ('eventname', 'character varying'),
 ('component', 'character varying'),
 ('action', 'character varying'),
 ('target', 'character varying'),
 ('objecttable', 'character varying'),
 ('objectid', 'bigint'),
 ('crud', 'character varying'),
 ('edulevel', 'smallint'),
 ('contextid', 'bigint'),
 ('contextlevel', 'bigint'),
 ('contextinstanceid', 'bigint'),
 ('userid', 'bigint'),
 ('courseid', 'bigint'),
 ('relateduserid', 'bigint'),
 ('anonymous', 'smallint'),
 ('other', 'text'),
 ('timecreated', 'bigint'),
 ('origin', 'character varying'),
 ('ip', 'character varying'),
 ('realuserid', 'bigint')]

In [131]:
%sql SELECT * FROM mdl_logstore_standard_log LIMIT 5;

 * postgresql://postgres:***@localhost/moodle
5 rows affected.

[(1, '\\core\\event\\course_viewed', 'core', 'viewed', 'course', None, None, 'r', 2, 2, 50, 1, 0, 1, None, 0, 'N;', 1548311114, 'web', '105.233.48.139', None),
 (2, '\\core\\event\\user_loggedin', 'core', 'loggedin', 'user', 'user', 2, 'r', 0, 1, 10, 0, 2, 0, None, 0, 'a:1:{s:8:"username";s:5:"admin";}', 1548311148, 'web', '105.233.48.139', None),
 (3, '\\core\\event\\dashboard_viewed', 'core', 'viewed', 'dashboard', None, None, 'r', 0, 5, 30, 2, 2, 0, 2, 0, 'N;', 1548311179, 'web', '105.233.48.139', None),
 (4, '\\core\\event\\course_viewed', 'core', 'viewed', 'course', None, None, 'r', 2, 2, 50, 1, 0, 1, None, 0, 'N;', 1548313994, 'web', '105.233.48.139', None),
 (5, '\\core\\event\\course_viewed', 'core', 'viewed', 'course', None, None, 'r', 2, 2, 50, 1, 0, 1, None, 0, 'N;', 1548319150, 'web', '41.13.254.147', None)]

In [149]:
%%sql
SELECT COUNT(id) AS submissions, EXTRACT(hour FROM to_timestamp(timecreated)) AS hour_of_day
FROM mdl_logstore_standard_log
WHERE action = 'submitted'AND component = 'mod_quiz'
GROUP BY hour_of_day;

 * postgresql://postgres:***@localhost/moodle
24 rows affected.

[(30, 0.0),
 (29, 1.0),
 (7, 2.0),
 (14, 3.0),
 (10, 4.0),
 (18, 5.0),
 (17, 6.0),
 (34, 7.0),
 (46, 8.0),
 (69, 9.0),
 (95, 10.0),
 (88, 11.0),
 (104, 12.0),
 (90, 13.0),
 (80, 14.0),
 (68, 15.0),
 (68, 16.0),
 (70, 17.0),
 (57, 18.0),
 (55, 19.0),
 (46, 20.0),
 (53, 21.0),
 (26, 22.0),
 (23, 23.0)]

>  Monthly usage time of learners who have confirmed and are not deleted

In [83]:
%sql SELECT * FROM mdl_user LIMIT 5;

 * postgresql://postgres:***@localhost/moodle
5 rows affected.

[(1, 1, 0, 0, 0, '', 'Germany', 'en', 0, 0, 0, 0, '', 'Male', 'DE'),
 (20, 1, 0, 0, 0, '', 'Germany', 'en', 1549745767, 1562935333, 1549745767, 1562935333, '197.215.32.111', 'Male', 'DE'),
 (15, 1, 0, 0, 0, '', 'Germany', 'en', 1549633236, 1563537002, 1563469481, 1563537002, '41.184.239.200', 'Male', 'DE'),
 (36, 1, 0, 0, 0, '', 'Ghana', 'en', 1549641288, 1559227964, 1549651186, 1559227892, '154.160.1.224', 'Male', 'GH'),
 (44, 1, 0, 0, 0, '', 'Ghana', 'en', 1549637001, 1560095090, 1557475553, 1560094908, '129.122.1.14', 'Male', 'GH')]

In [150]:
%%sql
SELECT COUNT(lastaccess - firstaccess) AS time_usage,
EXTRACT(month FROM to_timestamp(firstaccess)) AS months
FROM mdl_user 
WHERE confirmed = 1 AND deleted = 0
GROUP BY months ORDER  BY  time_usage DESC;

 * postgresql://postgres:***@localhost/moodle
7 rows affected.

[(450, 1.0),
 (227, 2.0),
 (140, 4.0),
 (111, 5.0),
 (58, 3.0),
 (31, 7.0),
 (27, 6.0)]

 Count of log events per user for the following verbs: ['loggedin', 'viewed',
'started', ,'submitted', 'uploaded', 'updated', 'searched', 'resumed', 'answered',
'attempted', 'abandoned']

In [152]:
%sql SELECT DISTINCT (action) FROM mdl_logstore_standard_log

 * postgresql://postgres:***@localhost/moodle
45 rows affected.

[('accepted',),
 ('disabled',),
 ('awarded',),
 ('indexed',),
 ('shown',),
 ('failed',),
 ('text',),
 ('unassigned',),
 ('ended',),
 ('created',),
 ('loggedinas',),
 ('downloaded',),
 ('completed',),
 ('called',),
 ('moved',),
 ('reviewed',),
 ('removed',),
 ('loggedout',),
 ('assigned',),
 ('updated',),
 ('previewed',),
 ('deleted',),
 ('printed',),
 ('assessed',),
 ('submitted',),
 ('resumed',),
 ('sent',),
 ('saved',),
 ('abandoned',),
 ('restored',),
 ('added',),
 ('viewed',),
 ('becameoverdue',),
 ('uploaded',),
 ('duplicated',),
 ('graded',),
 ('started',),
 ('archived',),
 ('searched',),
 ('answered',),
 ('exported',),
 ('loggedin',),
 ('enabled',),
 ('restarted',),
 ('reset',)]

In [193]:
%%sql 
SELECT userid, COUNT(action) AS events
FROM mdl_logstore_standard_log 
WHERE action IN ('loggedin', 'viewed', 'started','submitted',
                  'uploaded', 'updated', 'searched', 'resumed',
                  'answered', 'attempted', 'abandoned')
GROUP BY userid ORDER BY events DESC

 * postgresql://postgres:***@localhost/moodle
1046 rows affected.

[(0, 5954),
 (3, 5644),
 (2, 5273),
 (246, 2718),
 (917, 2477),
 (45, 2274),
 (165, 2085),
 (347, 2019),
 (290, 1856),
 (344, 1796),
 (190, 1357),
 (48, 1351),
 (581, 1308),
 (369, 1138),
 (90, 1105),
 (383, 1087),
 (95, 1074),
 (170, 1070),
 (266, 1059),
 (201, 979),
 (217, 949),
 (57, 873),
 (61, 840),
 (284, 820),
 (103, 810),
 (385, 808),
 (25, 806),
 (5, 788),
 (228, 773),
 (254, 757),
 (586, 742),
 (210, 742),
 (143, 733),
 (156, 731),
 (167, 726),
 (58, 719),
 (274, 692),
 (43, 653),
 (185, 653),
 (328, 649),
 (262, 634),
 (141, 626),
 (259, 621),
 (42, 617),
 (99, 610),
 (594, 610),
 (44, 608),
 (377, 608),
 (409, 590),
 (294, 588),
 (145, 584),
 (133, 579),
 (289, 577),
 (51, 573),
 (924, 572),
 (362, 571),
 (382, 559),
 (480, 556),
 (301, 555),
 (930, 544),
 (865, 540),
 (277, 526),
 (1027, 503),
 (115, 497),
 (234, 494),
 (50, 494),
 (918, 488),
 (250, 486),
 (174, 483),
 (607, 477),
 (39, 476),
 (268, 470),
 (118, 468),
 (138, 464),
 (242, 464),
 (341, 446),
 (340, 440),
 (153, 437),
 (179, 433),
 (241, 433),
 (123, 427),
 (363, 427),
 (686, 427),
 (168, 420),
 (989, 418),
 (381, 416),
 (378, 412),
 (9, 412),
 (449, 409),
 (80, 400),
 (270, 399),
 (127, 399),
 (286, 398),
 (102, 397),
 (428, 396),
 (420, 396),
 (147, 396),
 (98, 383),
 (271, 380),
 (387, 362),
 (434, 353),
 (202, 348),
 (126, 340),
 (353, 337),
 (88, 327),
 (742, 326),
 (67, 326),
 (184, 320),
 (299, 311),
 (372, 310),
 (40, 308),
 (132, 308),
 (374, 305),
 (263, 303),
 (77, 293),
 (180, 286),
 (68, 285),
 (105, 284),
 (244, 282),
 (255, 278),
 (331, 277),
 (233, 277),
 (567, 277),
 (135, 274),
 (486, 274),
 (427, 272),
 (38, 272),
 (348, 270),
 (303, 270),
 (131, 269),
 (351, 266),
 (222, 265),
 (73, 260),
 (282, 258),
 (107, 255),
 (213, 255),
 (121, 255),
 (146, 253),
 (189, 246),
 (361, 246),
 (346, 245),
 (199, 245),
 (178, 240),
 (148, 240),
 (278, 234),
 (94, 219),
 (376, 219),
 (258, 215),
 (209, 214),
 (84, 213),
 (161, 212),
 (879, 207),
 (298, 206),
 (272, 205),
 (60, 205),
 (74, 204),
 (349, 204),
 (96, 204),
 (411, 203),
 (1025, 201),
 (440, 195),
 (253, 194),
 (295, 192),
 (130, 192),
 (56, 190),
 (149, 181),
 (354, 179),
 (62, 174),
 (78, 174),
 (319, 171),
 (846, 166),
 (182, 165),
 (140, 165),
 (236, 164),
 (1019, 163),
 (356, 162),
 (591, 160),
 (723, 160),
 (757, 158),
 (842, 158),
 (137, 156),
 (223, 155),
 (400, 154),
 (285, 154),
 (1041, 152),
 (611, 151),
 (86, 151),
 (65, 150),
 (198, 150),
 (843, 149),
 (186, 147),
 (296, 145),
 (237, 144),
 (69, 143),
 (866, 141),
 (410, 139),
 (194, 138),
 (116, 138),
 (188, 138),
 (159, 138),
 (256, 137),
 (390, 134),
 (306, 134),
 (83, 132),
 (85, 132),
 (375, 132),
 (54, 131),
 (239, 130),
 (203, 130),
 (225, 129),
 (280, 128),
 (265, 128),
 (287, 127),
 (108, 127),
 (267, 127),
 (160, 126),
 (100, 126),
 (120, 125),
 (75, 125),
 (470, 123),
 (152, 123),
 (945, 123),
 (16, 123),
 (297, 122),
 (166, 121),
 (869, 121),
 (729, 120),
 (775, 118),
 (339, 118),
 (71, 117),
 (260, 117),
 (941, 116),
 (151, 115),
 (144, 115),
 (193, 115),
 (914, 114),
 (139, 114),
 (247, 114),
 (204, 113),
 (747, 113),
 (101, 113),
 (106, 111),
 (813, 110),
 (307, 110),
 (81, 110),
 (214, 109),
 (291, 109),
 (125, 109),
 (650, 108),
 (219, 108),
 (195, 107),
 (468, 107),
 (367, 106),
 (683, 105),
 (52, 105),
 (119, 105),
 (55, 104),
 (227, 104),
 (275, 104),
 (59, 101),
 (129, 101),
 (235, 100),
 (615, 100),
 (157, 99),
 (19, 99),
 (220, 98),
 (158, 98),
 (252, 98),
 (36, 98),
 (175, 98),
 (70, 97),
 (593, 96),
 (424, 95),
 (281, 95),
 (464, 94),
 (134, 94),
 (15, 94),
 (240, 94),
 (176, 92),
 (243, 92),
 (24, 92),
 (207, 91),
 (288, 91),
 (215, 91),
 (41, 91),
 (211, 91),
 (32, 90),
 (104, 89),
 (489, 89),
 (302, 89),
 (93, 88),
 (128, 88),
 (264, 88),
 (221, 87),
 (7, 87),
 (436, 87),
 (991, 87),
 (226, 86),
 (232, 86),
 (82, 86),
 (208, 86),
 (155, 86),
 (721, 86),
 (172, 86),
 (292, 86),
 (768, 85),
 (273, 84),
 (191, 84),
 (406, 84),
 (445, 83),
 (373, 83),
 (181, 83),
 (109, 83),
 (114, 83),
 (200, 83),
 (30, 83),
 (20, 83),
 (334, 83),
 (122, 82),
 (22, 82),
 (224, 82),
 (124, 82),
 (332, 82),
 (386, 82),
 (150, 82),
 (359, 81),
 (112, 81),
 (231, 81),
 (169, 81),
 (64, 80),
 (163, 80),
 (72, 80),
 (183, 79),
 (111, 79),
 (66, 79),
 (750, 79),
 (154, 79),
 (46, 79),
 (113, 78),
 (136, 78),
 (164, 78),
 (171, 78),
 (502, 78),
 (49, 78),
 (248, 78),
 (423, 77),
 (293, 77),
 (205, 77),
 (269, 77),
 (47, 77),
 (261, 76),
 (12, 76),
 (162, 76),
 (453, 76),
 (251, 75),
 (541, 75),
 (343, 75),
 (92, 75),
 (443, 75),
 (29, 74),
 (110, 74),
 (18, 74),
 (320, 74),
 (313, 73),
 (245, 73),
 (212, 73),
 (53, 73),
 (548, 73),
 (738, 73),
 (631, 73),
 (238, 73),
 (276, 72),
 (283, 72),
 (79, 72),
 (206, 72),
 (142, 72),
 (63, 72),
 (786, 72),
 (218, 72),
 (229, 72),
 (300, 72),
 (89, 71),
 (37, 71),
 (117, 71),
 (187, 71),
 (192, 70),
 (97, 70),
 (21, 70),
 (197, 70),
 (392, 69),
 (257, 68),
 (249, 68),
 (216, 68),
 (230, 68),
 (91, 68),
 (856, 67),
 (656, 67),
 (766, 67),
 (23, 67),
 (87, 66),
 (173, 66),
 (196, 66),
 (177, 66),
 (279, 66),
 (922, 66),
 (796, 66),
 (26, 65),
 (317, 64),
 (14, 64),
 (31, 63),
 (379, 63),
 (844, 63),
 (17, 63),
 (27, 63),
 (608, 63),
 (342, 62),
 (309, 62),
 (760, 62),
 (1047, 61),
 (384, 61),
 (28, 60),
 (13, 60),
 (789, 60),
 (388, 59),
 (370, 58),
 (330, 58),
 (315, 58),
 (549, 58),
 (893, 57),
 (333, 56),
 (632, 56),
 (368, 55),
 (758, 55),
 (838, 55),
 (305, 55),
 (911, 54),
 (473, 54),
 (557, 54),
 (335, 54),
 (943, 54),
 (748, 52),
 (358, 52),
 (316, 52),
 (345, 52),
 (355, 52),
 (329, 52),
 (714, 51),
 (311, 51),
 (676, 51),
 (380, 51),
 (1004, 49),
 (752, 49),
 (522, 49),
 (321, 48),
 (350, 48),
 (338, 48),
 (8, 48),
 (336, 48),
 (365, 48),
 (726, 48),
 (777, 48),
 (326, 47),
 (889, 47),
 (324, 47),
 (807, 46),
 (830, 46),
 (1029, 46),
 (990, 46),
 (873, 45),
 (888, 45),
 (322, 45),
 (878, 44),
 (308, 43),
 (512, 43),
 (314, 42),
 (318, 42),
 (414, 42),
 (421, 42),
 (999, 42),
 (939, 42),
 (461, 41),
 (310, 41),
 (312, 41),
 (323, 41),
 (325, 41),
 (337, 41),
 (360, 41),
 (404, 41),
 (794, 41),
 (555, 41),
 (364, 40),
 (780, 40),
 (357, 40),
 (733, 40),
 (801, 39),
 (534, 39),
 (867, 39),
 (484, 38),
 (849, 37),
 (327, 37),
 (352, 37),
 (371, 37),
 (659, 36),
 (304, 36),
 (366, 36),
 (431, 36),
 (517, 36),
 (734, 35),
 (754, 35),
 (730, 35),
 (737, 35),
 (389, 35),
 (1001, 35),
 (903, 34),
 (495, 34),
 (818, 33),
 (770, 33),
 (394, 33),
 (817, 33),
 (759, 33),
 (919, 32),
 (815, 32),
 (667, 32),
 (662, 31),
 (799, 31),
 (598, 31),
 (520, 31),
 (419, 31),
 (433, 31),
 (847, 31),
 (848, 30),
 (612, 30),
 (896, 30),
 (475, 29),
 (706, 29),
 (688, 29),
 (459, 28),
 (910, 28),
 (744, 28),
 (402, 27),
 (587, 27),
 (497, 27),
 (603, 26),
 (448, 26),
 (584, 26),
 (552, 26),
 (565, 26),
 (417, 26),
 (396, 26),
 (511, 25),
 (897, 25),
 (926, 25),
 (422, 25),
 (437, 25),
 (501, 25),
 (764, 25),
 (756, 25),
 (559, 25),
 (741, 25),
 (1028, 25),
 (564, 24),
 (1002, 24),
 (595, 24),
 (765, 24),
 (1006, 24),
 (885, 24),
 (413, 24),
 (946, 24),
 (397, 24),
 (1010, 24),
 (718, 24),
 (1015, 24),
 (561, 24),
 (802, 23),
 (940, 23),
 (654, 23),
 (814, 23),
 (895, 23),
 (554, 23),
 (513, 23),
 (451, 23),
 (743, 23),
 (988, 22),
 (931, 22),
 (749, 22),
 (887, 22),
 (890, 22),
 (921, 22),
 (908, 22),
 (862, 22),
 (825, 22),
 (627, 22),
 (505, 22),
 (452, 22),
 (566, 21),
 (490, 21),
 (745, 21),
 (465, 21),
 (724, 21),
 (395, 21),
 (798, 21),
 (398, 21),
 (700, 20),
 (851, 20),
 (525, 20),
 (476, 20),
 (1016, 20),
 (692, 20),
 (732, 20),
 (971, 20),
 (785, 20),
 (1005, 20),
 (509, 19),
 (617, 19),
 (795, 19),
 (494, 19),
 (532, 19),
 (602, 19),
 (646, 19),
 (987, 18),
 (578, 18),
 (618, 18),
 (535, 18),
 (957, 18),
 (630, 18),
 (516, 18),
 (655, 18),
 (407, 18),
 (574, 18),
 (533, 17),
 (455, 17),
 (840, 17),
 (854, 17),
 (524, 17),
 (479, 17),
 (569, 17),
 (828, 17),
 (614, 17),
 (568, 17),
 (953, 17),
 (861, 17),
 (959, 17),
 (976, 17),
 (712, 16),
 (543, 16),
 (542, 16),
 (582, 16),
 (864, 16),
 (528, 16),
 (526, 16),
 (870, 16),
 (992, 16),
 (609, 16),
 (467, 16),
 (727, 16),
 (432, 16),
 (416, 16),
 (713, 16),
 (642, 16),
 (826, 16),
 (834, 15),
 (809, 15),
 (1048, 15),
 (751, 15),
 (951, 15),
 (793, 15),
 (682, 15),
 (904, 15),
 (913, 15),
 (672, 15),
 (658, 15),
 (929, 15),
 (693, 13),
 (784, 13),
 (670, 13),
 (881, 13),
 (620, 13),
 (791, 13),
 (660, 12),
 (393, 12),
 (399, 12),
 (401, 12),
 (403, 12),
 (405, 12),
 (408, 12),
 (412, 12),
 (415, 12),
 (418, 12),
 (425, 12),
 (426, 12),
 (429, 12),
 (430, 12),
 (435, 12),
 (438, 12),
 (439, 12),
 (441, 12),
 (442, 12),
 (444, 12),
 (446, 12),
 (447, 12),
 (450, 12),
 (454, 12),
 (456, 12),
 (457, 12),
 (458, 12),
 (460, 12),
 (462, 12),
 (463, 12),
 (466, 12),
 (469, 12),
 (471, 12),
 (472, 12),
 (474, 12),
 (477, 12),
 (478, 12),
 (481, 12),
 (482, 12),
 (483, 12),
 (485, 12),
 (487, 12),
 (488, 12),
 (491, 12),
 (492, 12),
 (493, 12),
 (496, 12),
 (498, 12),
 (499, 12),
 (500, 12),
 (503, 12),
 (504, 12),
 (506, 12),
 (507, 12),
 (508, 12),
 (510, 12),
 (514, 12),
 (515, 12),
 (518, 12),
 (519, 12),
 (521, 12),
 (523, 12),
 (527, 12),
 (529, 12),
 (530, 12),
 (531, 12),
 (536, 12),
 (537, 12),
 (538, 12),
 (539, 12),
 (540, 12),
 (544, 12),
 (545, 12),
 (546, 12),
 (547, 12),
 (550, 12),
 (551, 12),
 (553, 12),
 (556, 12),
 (558, 12),
 (560, 12),
 (562, 12),
 (563, 12),
 (570, 12),
 (571, 12),
 (572, 12),
 (573, 12),
 (575, 12),
 (576, 12),
 (577, 12),
 (579, 12),
 (580, 12),
 (583, 12),
 (585, 12),
 (588, 12),
 (589, 12),
 (590, 12),
 (592, 12),
 (596, 12),
 (597, 12),
 (599, 12),
 (600, 12),
 (601, 12),
 (604, 12),
 (605, 12),
 (606, 12),
 (610, 12),
 (613, 12),
 (616, 12),
 (619, 12),
 (621, 12),
 (622, 12),
 (623, 12),
 (624, 12),
 (625, 12),
 (626, 12),
 (628, 12),
 (629, 12),
 (633, 12),
 (634, 12),
 (635, 12),
 (636, 12),
 (637, 12),
 (638, 12),
 (639, 12),
 (640, 12),
 (641, 12),
 (643, 12),
 (644, 12),
 (645, 12),
 (647, 12),
 (648, 12),
 (649, 12),
 (651, 12),
 (652, 12),
 (653, 12),
 (657, 12),
 (661, 12),
 (663, 12),
 (664, 12),
 (665, 12),
 (666, 12),
 (668, 12),
 (669, 12),
 (671, 12),
 (673, 12),
 (674, 12),
 (675, 12),
 (677, 12),
 (678, 12),
 (679, 12),
 (680, 12),
 (681, 12),
 (684, 12),
 (685, 12),
 (687, 12),
 (689, 12),
 (690, 12),
 (691, 12),
 (694, 12),
 (695, 12),
 (696, 12),
 (697, 12),
 (698, 12),
 (699, 12),
 (701, 12),
 (702, 12),
 (703, 12),
 (704, 12),
 (705, 12),
 (707, 12),
 (708, 12),
 (709, 12),
 (710, 12),
 (711, 12),
 (715, 12),
 (716, 12),
 (717, 12),
 (719, 12),
 (720, 12),
 (722, 12),
 (725, 12),
 (728, 12),
 (731, 12),
 (740, 12),
 (891, 12),
 (892, 12),
 (964, 12),
 (1007, 12),
 (823, 11),
 (875, 11),
 (876, 11),
 (877, 11),
 (860, 11),
 (859, 11),
 (880, 11),
 (858, 11),
 (882, 11),
 (883, 11),
 (884, 11),
 (857, 11),
 (886, 11),
 (855, 11),
 (853, 11),
 (852, 11),
 (850, 11),
 (937, 11),
 (938, 11),
 (808, 11),
 (806, 11),
 (805, 11),
 (942, 11),
 (804, 11),
 (944, 11),
 (803, 11),
 (800, 11),
 (947, 11),
 (948, 11),
 (949, 11),
 (950, 11),
 (797, 11),
 (952, 11),
 (792, 11),
 (954, 11),
 (955, 11),
 (956, 11),
 (790, 11),
 (958, 11),
 (788, 11),
 (960, 11),
 (961, 11),
 (962, 11),
 (963, 11),
 (965, 11),
 (966, 11),
 (967, 11),
 (968, 11),
 (969, 11),
 (970, 11),
 (787, 11),
 (783, 11),
 (782, 11),
 (781, 11),
 (779, 11),
 (778, 11),
 (776, 11),
 (774, 11),
 (773, 11),
 (772, 11),
 (771, 11),
 (769, 11),
 (767, 11),
 (763, 11),
 (762, 11),
 (761, 11),
 (755, 11),
 (753, 11),
 (746, 11),
 (739, 11),
 (736, 11),
 (735, 11),
 (868, 11),
 (871, 11),
 (872, 11),
 (863, 11),
 (845, 11),
 (894, 11),
 (841, 11),
 (839, 11),
 (837, 11),
 (898, 11),
 (899, 11),
 (900, 11),
 (901, 11),
 (902, 11),
 (836, 11),
 (835, 11),
 (905, 11),
 (906, 11),
 (907, 11),
 (833, 11),
 (909, 11),
 (832, 11),
 (831, 11),
 (912, 11),
 (829, 11),
 (827, 11),
 (915, 11),
 (916, 11),
 (824, 11),
 (874, 11),
 (822, 11),
 (920, 11),
 (821, 11),
 (820, 11),
 (923, 11),
 (819, 11),
 (925, 11),
 (816, 11),
 (927, 11),
 (928, 11),
 (812, 11),
 (811, 11),
 (810, 11),
 (932, 11),
 (933, 11),
 (934, 11),
 (935, 11),
 (936, 11),
 (978, 10),
 (979, 10),
 (980, 10),
 (981, 10),
 (982, 10),
 (983, 10),
 (984, 10),
 (985, 10),
 (986, 10),
 (998, 10),
 (1011, 10),
 (1012, 10),
 (1013, 10),
 ...]

In [194]:
connection.close()

#### Write a python class to pull:

○ Overall grade of learners for Number of forum posts