# Moodle Educational Data Mining

#### ETL Processes

> I would be using this notebook to develop the ETL process for each of the database tables before completing the etl.py file to load the whole datasets.

import libraries

In [1]:
    %autosave 300

Autosaving every 300 seconds

In [2]:
# !pip install psycopg2-binary

In [3]:
import os
import glob
import psycopg2
import pandas as pd 
import sys
import numpy as np
from dotenv import load_dotenv

In [4]:
load_dotenv('../.env')

True

create a database connection

In [5]:
def get_connection(user:str, host:str,database:str, port:str=None, password:str= None) -> psycopg2.extensions.cursor:
    try:
        
            if password is None:
        
                password = os.getenv('PASSWORD')
            
            connection = psycopg2.connect(user = user,
                                          password = password,
                                          host = host,
                                          port = port,
                                          database = database)
            # perform autocommit on queries
            connection.set_session(autocommit=True)
            cursor = connection.cursor()
            # Print PostgreSQL Connection properties
            print ( connection.get_dsn_parameters(),"\n")

            # Print PostgreSQL version
            cursor.execute("SELECT version();")
            record = cursor.fetchone()
            print("You are connected to - ", record,"\n") 
    except (Exception, psycopg2.Error) as error :
            print ("Error while connecting to PostgreSQL", error)
            sys.exit(1)
    return connection

In [6]:
connection = get_connection(user='postgres', host='127.0.0.1',
              database='moodle')

{'user': 'postgres', 'dbname': 'moodle', 'host': '127.0.0.1', 'port': '5432', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  ('PostgreSQL 12.4 (Ubuntu 12.4-1.pgdg18.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0, 64-bit',)

> define function to execute database queries

In [7]:
def execute_query(query, con, fetch_type:int=1):
    
    """
    fetch_type:
        1 -> fetchone
        2 -> fetchmany
        3 -> fetchall
    """
    
    try:
        cur = con.cursor() 
        cur.execute(query)
        
        if fetch_type == 1:
            result = []
            row = cur.fetchone()
            while row:
                result.extend(row)
                print(row)
                #row = cur.fetchone()
                result.append(row)
                
        if fetch_type == 2:
            result == cur.fetchmany() 
            
        if fetch_type == 3:
            result = cur.fetchall()
            for row in result:
                print(row)
        else:
            result = cur.execute(query)
            print(result)
            
            
    except psycopg2.DatabaseError as e:
        print(f'Error {e}')
        sys.exit(1)
    
    return result

In [8]:
# fetch_tables = ("select * from mdl_course;")
# execute_query(query=fetch_tables, con=connection, fetch_type=3)[0]

#### Tables to be queried in the mooodle database

> `important tables are asteriked`

● mdl_logstore_standard_log -*

● mdl_context *

● mdl_user *

● mdl_course *

● mdl_modules *

● mdl_course_modules *

● mdl_course_modules_completion *

● mdl_grade_items

● mdl_grade_grades *

● mdl_grade_categories

● mdl_grade_items_history

● mdl_grade_grades_history

● mdl_grade_categories_history

● mdl_forum

● mdl_forum_discussions

● mdl_forum_posts

> create a list to store tables names

In [9]:
moodle_tables = ['mdl_logstore_standard_log',
     
'mdl_context',
     
'mdl_user',
     
'mdl_course ',
     
'mdl_modules',
     
'mdl_course_modules ',
     
'mdl_course_modules_completion',
     
'mdl_grade_items',
     
'mdl_grade_grades',

'mdl_grade_categories',

'mdl_grade_items_history',

'mdl_grade_grades_history',

'mdl_grade_categories_history',
     
'mdl_forum',
     
'mdl_forum_discussions',
     
'mdl_forum_posts'
    ]

> write function to parse sql tables to pandas

In [10]:
def get_tables(table_names:list, con) -> dict:
    
    tables = dict()
    for table in table_names:
        
#         table_key = table.split('_')[-1]
        
        print("getting table for "+table)
        
        tables[table] = pd.read_sql_query(sql =f'SELECT * FROM {table}', con=con)
        
    return tables

In [11]:
tables = get_tables(table_names=moodle_tables, con=connection)

getting table for mdl_logstore_standard_log
getting table for mdl_context
getting table for mdl_user
getting table for mdl_course
getting table for mdl_modules
getting table for mdl_course_modules
getting table for mdl_course_modules_completion
getting table for mdl_grade_items
getting table for mdl_grade_grades
getting table for mdl_grade_categories
getting table for mdl_grade_items_history
getting table for mdl_grade_grades_history
getting table for mdl_grade_categories_history
getting table for mdl_forum
getting table for mdl_forum_discussions
getting table for mdl_forum_posts

In [12]:
type(tables)

dict

In [13]:
tables.keys()

dict_keys(['mdl_logstore_standard_log', 'mdl_context', 'mdl_user', 'mdl_course ', 'mdl_modules', 'mdl_course_modules ', 'mdl_course_modules_completion', 'mdl_grade_items', 'mdl_grade_grades', 'mdl_grade_categories', 'mdl_grade_items_history', 'mdl_grade_grades_history', 'mdl_grade_categories_history', 'mdl_forum', 'mdl_forum_discussions', 'mdl_forum_posts'])

> write function to save table objects to csv

In [14]:
saved_tables_path = '../data/retrieved_tables'

In [15]:
def save_tables(path:str, tables:dict, index:bool=False, date_format:str='%Y%m%d'):
    
    for table_name, table in tables.items(): 
        
        file_name= f"/{table_name}.csv"
        print(f"Saving sql table {table_name} to -> "+path+file_name)
        
        table.to_csv(path_or_buf=path+file_name, index=index, date_format=date_format)

In [16]:
save_tables(path=saved_tables_path, tables=tables)

Saving sql table mdl_logstore_standard_log to -> ../data/retrieved_tables/mdl_logstore_standard_log.csv
Saving sql table mdl_context to -> ../data/retrieved_tables/mdl_context.csv
Saving sql table mdl_user to -> ../data/retrieved_tables/mdl_user.csv
Saving sql table mdl_course  to -> ../data/retrieved_tables/mdl_course .csv
Saving sql table mdl_modules to -> ../data/retrieved_tables/mdl_modules.csv
Saving sql table mdl_course_modules  to -> ../data/retrieved_tables/mdl_course_modules .csv
Saving sql table mdl_course_modules_completion to -> ../data/retrieved_tables/mdl_course_modules_completion.csv
Saving sql table mdl_grade_items to -> ../data/retrieved_tables/mdl_grade_items.csv
Saving sql table mdl_grade_grades to -> ../data/retrieved_tables/mdl_grade_grades.csv
Saving sql table mdl_grade_categories to -> ../data/retrieved_tables/mdl_grade_categories.csv
Saving sql table mdl_grade_items_history to -> ../data/retrieved_tables/mdl_grade_items_history.csv
Saving sql table mdl_grade_grades_history to -> ../data/retrieved_tables/mdl_grade_grades_history.csv
Saving sql table mdl_grade_categories_history to -> ../data/retrieved_tables/mdl_grade_categories_history.csv
Saving sql table mdl_forum to -> ../data/retrieved_tables/mdl_forum.csv
Saving sql table mdl_forum_discussions to -> ../data/retrieved_tables/mdl_forum_discussions.csv
Saving sql table mdl_forum_posts to -> ../data/retrieved_tables/mdl_forum_posts.csv

In [17]:
cur = connection.cursor()

### SQL Analytics

> Connect to Jupyter SQL Instance

In [18]:
%load_ext sql

In [19]:
%reload_ext sql

In [20]:
password = os.getenv('PASSWORD')
connection_string = "postgresql://postgres:{password}@localhost/moodle".format(password=password)

In [21]:
%sql $connection_string

'Connected: postgres@moodle'

#### Task One

#### Download the database and write an SQL script to count:

○ the number of tables

○ the number of records in each of the tables given in the MIT section

○ Number of quiz submissions by hour of day

○ Monthly usage time of learners who have confirmed and are not deleted

○ Count of log events per user for the following verbs: ['loggedin', 'viewed',
'started', ,'submitted', 'uploaded', 'updated', 'searched', 'resumed', 'answered',
'attempted', 'abandoned']

#### Write a python class to pull:

○ Overall grade of learners for

○ Number of forum posts

> number of tables

In [22]:
%sql select count(*) as tables from information_schema.tables where table_schema = 'public';

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(448,)]

> the number of records in each of the tables given in the MIT section

In [23]:
for table in moodle_tables:
    cur.execute(f"SELECT COUNT(*) FROM {table}")
    result = cur.fetchone()
    print(f'\nTable {table} -> \n \n{result}')

Table mdl_logstore_standard_log ->

(417554,)

Table mdl_context ->

(4359,)

Table mdl_user ->

(1052,)

Table mdl_course  ->

(15,)

Table mdl_modules ->

(26,)

Table mdl_course_modules  ->

(290,)

Table mdl_course_modules_completion ->

(4483,)

Table mdl_grade_items ->

(113,)

Table mdl_grade_grades ->

(3643,)

Table mdl_grade_categories ->

(16,)

Table mdl_grade_items_history ->

(486,)

Table mdl_grade_grades_history ->

(7108,)

Table mdl_grade_categories_history ->

(46,)

Table mdl_forum ->

(34,)

Table mdl_forum_discussions ->

(23,)

Table mdl_forum_posts ->

(131,)

>  Number of quiz submissions by hour of day

In [24]:
%sql select column_name,data_type from information_schema.columns WHERE table_name = 'mdl_logstore_standard_log'

 * postgresql://postgres:***@localhost/moodle
21 rows affected.

[('id', 'bigint'),
 ('eventname', 'character varying'),
 ('component', 'character varying'),
 ('action', 'character varying'),
 ('target', 'character varying'),
 ('objecttable', 'character varying'),
 ('objectid', 'bigint'),
 ('crud', 'character varying'),
 ('edulevel', 'smallint'),
 ('contextid', 'bigint'),
 ('contextlevel', 'bigint'),
 ('contextinstanceid', 'bigint'),
 ('userid', 'bigint'),
 ('courseid', 'bigint'),
 ('relateduserid', 'bigint'),
 ('anonymous', 'smallint'),
 ('other', 'text'),
 ('timecreated', 'bigint'),
 ('origin', 'character varying'),
 ('ip', 'character varying'),
 ('realuserid', 'bigint')]

In [25]:
%sql SELECT * FROM mdl_logstore_standard_log LIMIT 5;

 * postgresql://postgres:***@localhost/moodle
5 rows affected.

[(1, '\\core\\event\\course_viewed', 'core', 'viewed', 'course', None, None, 'r', 2, 2, 50, 1, 0, 1, None, 0, 'N;', 1548311114, 'web', '105.233.48.139', None),
 (2, '\\core\\event\\user_loggedin', 'core', 'loggedin', 'user', 'user', 2, 'r', 0, 1, 10, 0, 2, 0, None, 0, 'a:1:{s:8:"username";s:5:"admin";}', 1548311148, 'web', '105.233.48.139', None),
 (3, '\\core\\event\\dashboard_viewed', 'core', 'viewed', 'dashboard', None, None, 'r', 0, 5, 30, 2, 2, 0, 2, 0, 'N;', 1548311179, 'web', '105.233.48.139', None),
 (4, '\\core\\event\\course_viewed', 'core', 'viewed', 'course', None, None, 'r', 2, 2, 50, 1, 0, 1, None, 0, 'N;', 1548313994, 'web', '105.233.48.139', None),
 (5, '\\core\\event\\course_viewed', 'core', 'viewed', 'course', None, None, 'r', 2, 2, 50, 1, 0, 1, None, 0, 'N;', 1548319150, 'web', '41.13.254.147', None)]

In [26]:
%%sql
SELECT COUNT(id) AS submissions, EXTRACT(hour FROM to_timestamp(timecreated)) AS hour_of_day
FROM mdl_logstore_standard_log
WHERE action = 'submitted'AND component = 'mod_quiz'
GROUP BY hour_of_day;

 * postgresql://postgres:***@localhost/moodle
24 rows affected.

[(30, 0.0),
 (29, 1.0),
 (7, 2.0),
 (14, 3.0),
 (10, 4.0),
 (18, 5.0),
 (17, 6.0),
 (34, 7.0),
 (46, 8.0),
 (69, 9.0),
 (95, 10.0),
 (88, 11.0),
 (104, 12.0),
 (90, 13.0),
 (80, 14.0),
 (68, 15.0),
 (68, 16.0),
 (70, 17.0),
 (57, 18.0),
 (55, 19.0),
 (46, 20.0),
 (53, 21.0),
 (26, 22.0),
 (23, 23.0)]

>  Monthly usage time of learners who have confirmed and are not deleted

In [27]:
%sql SELECT * FROM mdl_user LIMIT 5;

 * postgresql://postgres:***@localhost/moodle
5 rows affected.

[(1, 1, 0, 0, 0, '', 'Germany', 'en', 0, 0, 0, 0, '', 'Male', 'DE'),
 (20, 1, 0, 0, 0, '', 'Germany', 'en', 1549745767, 1562935333, 1549745767, 1562935333, '197.215.32.111', 'Male', 'DE'),
 (15, 1, 0, 0, 0, '', 'Germany', 'en', 1549633236, 1563537002, 1563469481, 1563537002, '41.184.239.200', 'Male', 'DE'),
 (36, 1, 0, 0, 0, '', 'Ghana', 'en', 1549641288, 1559227964, 1549651186, 1559227892, '154.160.1.224', 'Male', 'GH'),
 (44, 1, 0, 0, 0, '', 'Ghana', 'en', 1549637001, 1560095090, 1557475553, 1560094908, '129.122.1.14', 'Male', 'GH')]

In [28]:
%%sql
SELECT COUNT(lastaccess - firstaccess) AS time_usage,
EXTRACT(month FROM to_timestamp(firstaccess)) AS months
FROM mdl_user 
WHERE confirmed = 1 AND deleted = 0
GROUP BY months ORDER  BY  time_usage DESC;

 * postgresql://postgres:***@localhost/moodle
7 rows affected.

[(450, 1.0),
 (227, 2.0),
 (140, 4.0),
 (111, 5.0),
 (58, 3.0),
 (31, 7.0),
 (27, 6.0)]

 Count of log events per user for the following verbs: ['loggedin', 'viewed',
'started', ,'submitted', 'uploaded', 'updated', 'searched', 'resumed', 'answered',
'attempted', 'abandoned']

In [29]:
%sql SELECT DISTINCT (action) FROM mdl_logstore_standard_log

 * postgresql://postgres:***@localhost/moodle
45 rows affected.

[('accepted',),
 ('disabled',),
 ('awarded',),
 ('indexed',),
 ('shown',),
 ('failed',),
 ('text',),
 ('unassigned',),
 ('ended',),
 ('created',),
 ('loggedinas',),
 ('downloaded',),
 ('completed',),
 ('called',),
 ('moved',),
 ('reviewed',),
 ('removed',),
 ('loggedout',),
 ('assigned',),
 ('updated',),
 ('previewed',),
 ('deleted',),
 ('printed',),
 ('assessed',),
 ('submitted',),
 ('resumed',),
 ('sent',),
 ('saved',),
 ('abandoned',),
 ('restored',),
 ('added',),
 ('viewed',),
 ('becameoverdue',),
 ('uploaded',),
 ('duplicated',),
 ('graded',),
 ('started',),
 ('archived',),
 ('searched',),
 ('answered',),
 ('exported',),
 ('loggedin',),
 ('enabled',),
 ('restarted',),
 ('reset',)]

In [30]:
%%sql 
SELECT userid, COUNT(action) AS events
FROM mdl_logstore_standard_log 
WHERE action IN ('loggedin', 'viewed', 'started','submitted',
                  'uploaded', 'updated', 'searched', 'resumed',
                  'answered', 'attempted', 'abandoned')
GROUP BY userid ORDER BY events DESC LIMIT 10;

 * postgresql://postgres:***@localhost/moodle
10 rows affected.

[(0, 5954),
 (3, 5644),
 (2, 5273),
 (246, 2718),
 (917, 2477),
 (45, 2274),
 (165, 2085),
 (347, 2019),
 (290, 1856),
 (344, 1796)]

In [31]:
# connection.close()

#### Write a python class to pull:

○ Overall grade of learners for Number of forum posts

In [32]:
class ForumGrades():
    """
    This class would can be used:
    1. get a connection with the moodle postgres db
    2. calcualte the sum/average/count of grades 
    3. calculate the number of forum posts
    """
    
    import pandas as pd
    import os
    import psycopg2
    
    
    def __init__(self, user:str, db:str, host:str, port:str=None,  password:str=None):
        
        self.user = user
        self.db = db
        self.host = host
        self.port = port
        self.password = password
        
        self._make_connection_()
        
    def __repr__(self):
        return "Object to get Overall grade of learners for Number of forum posts"
    
    def _make_connection_(self): # this is private method not accessible by the object
        
        try:
            if self.password is None:
        
                self.password = os.getenv('PASSWORD')
            
            self.connection = psycopg2.connect(user = self.user,
                                          password = self.password,
                                          host = self.host,
                                          port = self.port,
                                          database = self.db)
           
            # perform autocommit on queries
            self.connection.set_session(autocommit=True)
            self.cursor = self.connection.cursor() 
        
            # Print PostgreSQL version
            self.cursor.execute("SELECT version();")
            
            self.record = self.cursor.fetchone()
            
            print("You are connected to - ", self.record,"\n") 
            
        except (Exception, psycopg2.Error) as error :
            print ("Error while connecting to PostgreSQL", error)
            sys.exit(1)
            
        return self
    
    
    
    def get_grades(self):
        
        result = pd.read_sql_query( sql = "SELECT AVG(finalgrade) AS grade_avg, \
                            COUNT(finalgrade) AS grade_counts, \
                            SUM(finalgrade) AS grades_sum FROM mdl_grade_grades", 
                         con = self.connection, )
        
        return result
        
    def get_forum(self):
        
        result = pd.read_sql_query( sql = "SELECT COUNT(id) AS forum_counts \
                                  FROM mdl_forum_posts;", 
                         con = self.connection, )
        
        return result
    
    def close(self):
        return self.connection.close()

> test

In [33]:
forum_grades = ForumGrades(user='postgres', host='127.0.0.1',
              db='moodle')

You are connected to -  ('PostgreSQL 12.4 (Ubuntu 12.4-1.pgdg18.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0, 64-bit',)

In [34]:
forum_grades

Object to get Overall grade of learners for Number of forum posts

In [35]:
forum_grades.get_grades()

    grade_avg  grade_counts    grades_sum
0  107.371718          2160  231922.91029

In [36]:
forum_grades.get_forum()

   forum_counts
0           131

In [37]:
forum_grades.close()

#### Task 2 - Data Extraction Transformation and Loading (ETL)

- Based on task 1, 

 - write a python class to perform the following
     
      - Compute dedication time (see note below)
 
      - Compute login and activity counts.
      
 - Based on the following metrics, group students as top 1%, 5%, 10%, 25%

    - Login count 

    - Activity count 

    - Dedication time

- Dedication time ​of a learner​ ​is the time between login and last activity for that login session,which is the last activity before the next login event for a given learner.

- Moodle estimates time based in the concepts of Session and Session duration applied toMoodle's log entries:

- Click:​ every time that a user accesses a page in Moodle a log entry is stored.

- Session:​ set of two or more consecutive clicks in which the elapsed time between every pair of consecutive clicks does not overcome an established maximum time.

- Session duration:​ elapsed time between the first and the last click of the session.

In [38]:
moodle_tables

['mdl_logstore_standard_log',
 'mdl_context',
 'mdl_user',
 'mdl_course ',
 'mdl_modules',
 'mdl_course_modules ',
 'mdl_course_modules_completion',
 'mdl_grade_items',
 'mdl_grade_grades',
 'mdl_grade_categories',
 'mdl_grade_items_history',
 'mdl_grade_grades_history',
 'mdl_grade_categories_history',
 'mdl_forum',
 'mdl_forum_discussions',
 'mdl_forum_posts']

In [39]:
%sql SELECT * FROM mdl_user LIMIT 5;

 * postgresql://postgres:***@localhost/moodle
5 rows affected.

[(1, 1, 0, 0, 0, '', 'Germany', 'en', 0, 0, 0, 0, '', 'Male', 'DE'),
 (20, 1, 0, 0, 0, '', 'Germany', 'en', 1549745767, 1562935333, 1549745767, 1562935333, '197.215.32.111', 'Male', 'DE'),
 (15, 1, 0, 0, 0, '', 'Germany', 'en', 1549633236, 1563537002, 1563469481, 1563537002, '41.184.239.200', 'Male', 'DE'),
 (36, 1, 0, 0, 0, '', 'Ghana', 'en', 1549641288, 1559227964, 1549651186, 1559227892, '154.160.1.224', 'Male', 'GH'),
 (44, 1, 0, 0, 0, '', 'Ghana', 'en', 1549637001, 1560095090, 1557475553, 1560094908, '129.122.1.14', 'Male', 'GH')]

In [111]:
%sql SELECT * FROM mdl_logstore_standard_log LIMIT 5;

 * postgresql://postgres:***@localhost/moodle
5 rows affected.

[(1, '\\core\\event\\course_viewed', 'core', 'viewed', 'course', None, None, 'r', 2, 2, 50, 1, 0, 1, None, 0, 'N;', 1548311114, 'web', '105.233.48.139', None),
 (2, '\\core\\event\\user_loggedin', 'core', 'loggedin', 'user', 'user', 2, 'r', 0, 1, 10, 0, 2, 0, None, 0, 'a:1:{s:8:"username";s:5:"admin";}', 1548311148, 'web', '105.233.48.139', None),
 (3, '\\core\\event\\dashboard_viewed', 'core', 'viewed', 'dashboard', None, None, 'r', 0, 5, 30, 2, 2, 0, 2, 0, 'N;', 1548311179, 'web', '105.233.48.139', None),
 (4, '\\core\\event\\course_viewed', 'core', 'viewed', 'course', None, None, 'r', 2, 2, 50, 1, 0, 1, None, 0, 'N;', 1548313994, 'web', '105.233.48.139', None),
 (5, '\\core\\event\\course_viewed', 'core', 'viewed', 'course', None, None, 'r', 2, 2, 50, 1, 0, 1, None, 0, 'N;', 1548319150, 'web', '41.13.254.147', None)]

In [113]:
%sql SELECT DISTINCT ACTION FROM mdl_logstore_standard_log;

 * postgresql://postgres:***@localhost/moodle
45 rows affected.

[('accepted',),
 ('disabled',),
 ('awarded',),
 ('indexed',),
 ('shown',),
 ('failed',),
 ('text',),
 ('unassigned',),
 ('ended',),
 ('created',),
 ('loggedinas',),
 ('downloaded',),
 ('completed',),
 ('called',),
 ('moved',),
 ('reviewed',),
 ('removed',),
 ('loggedout',),
 ('assigned',),
 ('updated',),
 ('previewed',),
 ('deleted',),
 ('printed',),
 ('assessed',),
 ('submitted',),
 ('resumed',),
 ('sent',),
 ('saved',),
 ('abandoned',),
 ('restored',),
 ('added',),
 ('viewed',),
 ('becameoverdue',),
 ('uploaded',),
 ('duplicated',),
 ('graded',),
 ('started',),
 ('archived',),
 ('searched',),
 ('answered',),
 ('exported',),
 ('loggedin',),
 ('enabled',),
 ('restarted',),
 ('reset',)]

In [146]:
logs = pd.read_sql_query(' SELECT * FROM mdl_logstore_standard_log', con=moodle_usage.connection)

In [148]:
logs

,id,eventname,component,action,target,objecttable,objectid,crud,edulevel,contextid,...,contextinstanceid,userid,courseid,relateduserid,anonymous,other,timecreated,origin,ip,realuserid
0,1,\core\event\course_viewed,core,viewed,course,None,NaN,r,2,2,...,1,0,1,NaN,0,N;,1548311114,web,105.233.48.139,NaN
1,2,\core\event\user_loggedin,core,loggedin,user,user,2.0,r,0,1,...,0,2,0,NaN,0,"a:1:{s:8:""username"";s:5:""admin"";}",1548311148,web,105.233.48.139,NaN
2,3,\core\event\dashboard_viewed,core,viewed,dashboard,None,NaN,r,0,5,...,2,2,0,2.0,0,N;,1548311179,web,105.233.48.139,NaN
3,4,\core\event\course_viewed,core,viewed,course,None,NaN,r,2,2,...,1,0,1,NaN,0,N;,1548313994,web,105.233.48.139,NaN
4,5,\core\event\course_viewed,core,viewed,course,None,NaN,r,2,2,...,1,0,1,NaN,0,N;,1548319150,web,41.13.254.147,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417549,417655,\mod_forum\event\post_created,mod_forum,created,post,forum_posts,135.0,c,2,6834,...,322,266,50,NaN,0,"a:3:{s:12:""discussionid"";s:2:""24"";s:7:""forumid...",1564618472,web,41.203.73.55,NaN
417550,417656,\mod_forum\event\discussion_viewed,mod_forum,viewed,discussion,forum_discussions,24.0,r,2,6834,...,322,266,50,NaN,0,N;,1564618472,web,41.203.73.55,NaN
417551,417657,\mod_page\event\course_module_viewed,mod_page,viewed,course_module,page,60.0,r,2,6841,...,329,266,50,NaN,0,N;,1564618488,web,41.203.73.55,NaN
417552,417658,\core\event\course_module_completion_updated,core,updated,course_module_completion,course_modules_completion,6615.0,u,2,6841,...,329,266,50,266.0,0,"a:3:{s:13:""relateduserid"";s:3:""266"";s:10:""over...",1564618488,web,41.203.73.55,NaN
417553,417659,\core\event\course_module_completion_updated,core,updated,course_module_completion,course_modules_completion,6615.0,u,2,6841,...,329,266,50,266.0,0,"a:3:{s:13:""relateduserid"";s:3:""266"";s:10:""over...",1564618488,web,41.203.73.55,NaN

In [104]:
class MoodleUsage(ForumGrades):
    
    # uses ForumGrades Constructor
    
    def __init__(self, user:str, db:str, host:str, port:str=None,  password:str=None):
        
        super().__init__(user, db, host, port=None,  password=None)
        
        self.user = user
        self.db = db
        self.host = host
        self.port = port
        self.password = password
        
        #super()._make_connection_()
    
    def __repr__(self):
        return "Moodle Usage Statistics"
    
    def get_dedication_time(self):
        
        result = pd.read_sql_query(sql="SELECT id, EXTRACT(minutes FROM to_timestamp(lastlogin) - to_timestamp(firstaccess)) \
        AS duration_hours \
        FROM mdl_user \
        GROUP BY id, duration_hours ORDER BY duration_hours DESC;", con= self.connection) 
        
        return result
    
    def get_activity_counts(self):
        
        result = pd.read_sql_query(sql="SELECT id, EXTRACT(minutes FROM to_timestamp(lastlogin) - to_timestamp(firstaccess)) \
        AS duration_hours \
        FROM mdl_user \
        GROUP BY id, duration_hours ORDER BY duration_hours DESC;", con= self.connection)
        
        return result

In [105]:
moodle_usage = MoodleUsage(user='postgres', host='127.0.0.1', db='moodle')

You are connected to -  ('PostgreSQL 12.4 (Ubuntu 12.4-1.pgdg18.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0, 64-bit',)

In [106]:
moodle_usage

Moodle Usage Statistics

In [107]:
moodle_usage.get_dedication_time()

       id  duration_hours
0      84            59.0
1     184            59.0
2     214            59.0
3     377            59.0
4     607            59.0
...   ...             ...
1047  609           -58.0
1048  752           -58.0
1049  951           -58.0
1050  452           -59.0
1051  509           -59.0

[1052 rows x 2 columns]

In [ ]:
moodle_usage.connection